<ion-header>
    <ion-toolbar>
        <ion-title>{{tituloPagina}}</ion-title>
        <img [src]="imagenBarra" id="imagenNavBar">
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="listado">
        <ion-list-header>
            Ultimas Conversaciones
        </ion-list-header>

        <ion-item *ngFor="let item of listado">
            <ion-avatar slot="start">
                <img [src]="item.avatar">
            </ion-avatar>
            <ion-label>
                <h2>{{ item.first_name }} {{ item.last_name }}</h2>
                <p>{{ item.email }}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>
            Conectados
        </ion-list-header>

    </ion-list>
</ion-content>